<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417390124578-ue8mdbsv80gku7b2agd0ihockf1qe1h2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417390124578-ue8mdbsv80gku7b2agd0ihockf1qe1h2</string>
	<key>API_KEY</key>
	<string>AIzaSyC-sPZi1BQgApalasrgCXf9mKz4k3b_sIs</string>
	<key>GCM_SENDER_ID</key>
	<string>417390124578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MalikArachiche.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-d2b7c</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-d2b7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417390124578:ios:7f5eecd6b17293124bf47b</string>
</dict>
</plist>